doctype html
html
  head
    title= htmlWebpackPlugin.options.title
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="https://cdn.auth0.com/styleguide/core/2.0.4/core.min.css")
    link(rel="stylesheet" href="https://cdn.auth0.com/styleguide/components/1.0.8/components.min.css")
    script(src="https://js.chilipiper.com/marketing.js", type="text/javascript")
  body
    .container
      h1 Test Contact Form
      button.btn.btn-primary#show-modal Show Modal
      &nbsp;&nbsp;
      button.btn.btn-primary#jp-modal Japanese Modal
